---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import Hero_Image from '../assets/image/Hero_Image.png';
import Origination from '../assets/image/home-images/Origination.png';
import Underwriting from '../assets/image/home-images/Underwriting.png';
import Servicing from '../assets/image/home-images/servicing.png';
import collections from '../assets/image/home-images/collections.png';
import Payments from '../assets/image/home-images/payments.png';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<section class="hero">
			<div class="text-container">
				<h1>Infrastructure to Expand Your Lending Portfolio</h1>
				<p>Join hundreds of lenders who trust Intro XL to streamline loan origination and servicing. Enhance your services and boost profitability with our comprehensive platform.</p>
			</div>
			<div class="image-container">
				<Image src={Hero_Image} alt="hero image" />
			</div>
		</section>
		<section class="capabilities">
			<h2>Core Platform Capabilities</h2>
			<p>Our API architecture provides the foundation for a modern lending platform, offering flexibility, scalability, and seamless integration.</p>
			<ul class="cap-list">
				<li class="cap-item from-left">
					<Image src={Origination} alt='origination'></Image>
					<div class="text-container">
						<h3>Origination</h3>
						<p>Accelerate loan growth and improve borrower satisfaction through a streamlined application process, enhanced data capture, and automated decisioning.</p>
					</div>
				</li>
				<li class="cap-item from-right">
					<Image src={Underwriting} alt="underwriting"></Image>
					<div class="text-container">
						<h3>Underwriting</h3>
						<p>Mitigate risk and optimize portfolio performance with advanced analytics, predictive modeling, and robust scorecard capabilities. Reduce charge-offs and first payment defaults through precise risk assessment.</p>
					</div>
				</li>
				<li class="cap-item from-left">
					<Image src={Servicing} alt="servicing"></Image>
					<div class="text-container">
						<h3>Servicing</h3>
						<p>Deliver exceptional customer experiences, increase loan retention, and maximize efficiency through automated workflows, self-service portals, and proactive communication.</p>
					</div>
				</li>
				<li class="cap-item from-right">
					<Image src={collections} alt="collections"></Image>
					<div class="text-container">
						<h3>Collections</h3>
						<p>Optimize recovery rates and reduce delinquency costs with automated communications, and efficient payment processing.</p>
					</div>
				</li>
				<li class="cap-item from-left">
					<Image src={Payments} alt="payments"></Image>
					<div class="text-container">
						<h3>Payments</h3>
						<p>Enhance cash flow and reduce operational costs with secure, flexible payment options, automated reconciliation, and fraud prevention.</p>
					</div>
				</li>
			</ul>
		</section>
	</main>
	<script>
		import gsap from 'gsap';
		import { ScrollTrigger } from "gsap/ScrollTrigger";
		gsap.registerPlugin(ScrollTrigger);
		const lefts = gsap.utils.toArray('.from-left');
		const rights = gsap.utils.toArray('.from-right');
		gsap.to('.capabilities', {
			scrollTrigger: '.capabilities',
			opacity: 1
		});

		lefts.forEach(left => {
			gsap.set(left, {x: -500, opacity: 0});
			const anim = gsap.to(left, {x:0, duration: 0.3,opacity: 1, paused: true});

			ScrollTrigger.create({
				trigger: left,
				onEnter: () => anim.play()
			});

			ScrollTrigger.create({
				trigger: left,
				onLeave: () => anim.pause(0),
			});


			ScrollTrigger.create({
				trigger: left,
				onLeaveBack: () => anim.pause(0),
			});

			ScrollTrigger.create({
				trigger: left,
				onEnterBack: () => anim.play()
			})
		});

		rights.forEach(right => {
			gsap.set(right, {x: 500, opacity: 0});
			const anim = gsap.to(right, {x:0, duration: 0.3,opacity: 1, paused: true});

			ScrollTrigger.create({
				trigger: right,
				onEnter: () => anim.play()
			});

			ScrollTrigger.create({
				trigger: right,
				onLeave: () => anim.pause(0),
			});


			ScrollTrigger.create({
				trigger: right,
				onLeaveBack: () => anim.pause(0),
			});

			ScrollTrigger.create({
				trigger: right,
				onEnterBack: () => anim.play()
			})
			// gsap.to(right, {
			// 	x: 0,
			// 	opacity: 1,
			// 	scrollTrigger: {
			// 		trigger: right,
			// 		scrub: false
			// 	},
			// 	duration: 0.3
			// })
		});

	</script>
</Layout>

<style>

	.hero {
		padding: 40px 140px;
		display: flex;
		flex-wrap: nowrap;
		gap: 32px;
	}

	.hero .text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hero h1 {
		margin-bottom: 24px;
		font-size: 72px;
		font-weight: 500;
		letter-spacing: -3px;
		line-height: 1.1;
	}

	.hero img {
		max-width: 100%;
		height: auto;
	}

	.capabilities {
		padding-inline: 140px;
	}

	.capabilities h2 {
		margin-bottom: 24px;
		font-size: 56px;
		text-align: center;
		letter-spacing: -1.5px;
	}

	.capabilities > p {
		text-align: center;
		margin-bottom: 40px;
	}

.cap-list {

}

.cap-item {
	display: flex;
	gap: 60px;
}

.cap-item:nth-of-type(2n) img {
	order: 2;
}

.cap-item .text-container {
	margin-block: auto;
}

.cap-item h3 {
	margin-bottom: 26px;
	/* text-align: center; */
	font-size: 40px;
	line-height: 46px;
	letter-spacing: -2px;
}

@media screen and (width < 1440px) {
	.hero, .capabilities {
		padding-inline: 40px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.cap-list {
		padding-block: 40px;
	}

	.cap-item {
		padding-block: 20px;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.cap-item:nth-of-type(2n) img {
	order: unset;
}
}

@media screen and (width < 1024px) {
	p {
		font-size: 18px;
	}

	.hero {
		flex-direction: column;
		text-align: center;
	}

	.hero h1 {
		font-size: 44px;
	}

	.capabilities h2 {
		line-height: 60px;
	}


}
</style>