---
import Form from "../components/Form.astro";
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import alwaysInno from "../assets/image/ADVANTAGE-IMAGES/icons/icons/alwaysinno.svg";
import customer from "../assets/image/ADVANTAGE-IMAGES/icons/icons/customersat.svg";
import enhance from "../assets/image/ADVANTAGE-IMAGES/icons/icons/enahancedrisk.svg";
import improve from "../assets/image/ADVANTAGE-IMAGES/icons/icons/improvedoper.svg";
import scalable from "../assets/image/ADVANTAGE-IMAGES/icons/icons/scalable.svg";
---

<Layout
	title="IntroXL"
	description="Solutions"
	url="https://"
	image=""
>
  <main>
    <section class="hero">
      <div class="text-container">
        <h1>Solutions</h1>
        <p>Intro XL is a leading provider of innovative, credit servicing solutions designed to transform the way financial institutions operate. By addressing inefficiencies in traditional lending processes, we empower lenders to achieve greater efficiency, compliance, and growth.</p>
      </div>
      <div class="form-container">
        <Form></Form>
      </div>
    </section>
    <section class="model">
      <h2>Taliored for Diverse Lending Models</h2>
      <p>Intro XL caters to a wide range of lending models, including installment loans, line of credit, auto title loans, cash apps and credit access businesses (CABs). Our platform adapts to your specific needs, ensuring optimal performance and compliance.</p>
      <ul class="model-list">
        <li class="model-item">
          <div class="icon">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" id="svg1447611371_683">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0002 25.8C20.0694 25.8 25.8002 20.0693 25.8002 13C25.8002 5.93077 20.0694 0.200012 13.0002 0.200012C5.93095 0.200012 0.200195 5.93077 0.200195 13C0.200195 20.0693 5.93095 25.8 13.0002 25.8ZM18.9316 10.9314C19.5564 10.3065 19.5564 9.29348 18.9316 8.66864C18.3067 8.0438 17.2937 8.0438 16.6688 8.66864L11.4002 13.9373L9.33156 11.8686C8.70673 11.2438 7.69366 11.2438 7.06882 11.8686C6.44399 12.4935 6.44399 13.5065 7.06882 14.1314L10.2688 17.3314C10.8937 17.9562 11.9067 17.9562 12.5316 17.3314L18.9316 10.9314Z" fill="#02A470"></path>
            </svg>
          </div>
          <h3 class="list-title">Origination</h3>
          <p class="list-text">Accelerate loan growth and improve borrower satisfaction through a streamlined application process, enhanced data capture, and automated decisioning.</p>
        </li>
        <li class="model-item">
          <div class="icon">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" id="svg1447611371_683">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0002 25.8C20.0694 25.8 25.8002 20.0693 25.8002 13C25.8002 5.93077 20.0694 0.200012 13.0002 0.200012C5.93095 0.200012 0.200195 5.93077 0.200195 13C0.200195 20.0693 5.93095 25.8 13.0002 25.8ZM18.9316 10.9314C19.5564 10.3065 19.5564 9.29348 18.9316 8.66864C18.3067 8.0438 17.2937 8.0438 16.6688 8.66864L11.4002 13.9373L9.33156 11.8686C8.70673 11.2438 7.69366 11.2438 7.06882 11.8686C6.44399 12.4935 6.44399 13.5065 7.06882 14.1314L10.2688 17.3314C10.8937 17.9562 11.9067 17.9562 12.5316 17.3314L18.9316 10.9314Z" fill="#02A470"></path>
            </svg>
          </div>
          <h3 class="list-title">Underwriting</h3>
          <p class="list-text">Mitigate risk and optimize portfolio performance with advanced analytics, predictive modeling, and robust scorecard capabilities. Reduce charge-offs and first payment defaults through precise risk assessment.</p>
        </li>
        <li class="model-item">
          <div class="icon">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" id="svg1447611371_683">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0002 25.8C20.0694 25.8 25.8002 20.0693 25.8002 13C25.8002 5.93077 20.0694 0.200012 13.0002 0.200012C5.93095 0.200012 0.200195 5.93077 0.200195 13C0.200195 20.0693 5.93095 25.8 13.0002 25.8ZM18.9316 10.9314C19.5564 10.3065 19.5564 9.29348 18.9316 8.66864C18.3067 8.0438 17.2937 8.0438 16.6688 8.66864L11.4002 13.9373L9.33156 11.8686C8.70673 11.2438 7.69366 11.2438 7.06882 11.8686C6.44399 12.4935 6.44399 13.5065 7.06882 14.1314L10.2688 17.3314C10.8937 17.9562 11.9067 17.9562 12.5316 17.3314L18.9316 10.9314Z" fill="#02A470"></path>
            </svg>
          </div>
          <h3 class="list-title">Servicing</h3>
          <p class="list-text">Deliver exceptional customer experiences, increase loan retention, and maximize efficiency through automated workflows, self-service portals, and proactive communication.</p>
        </li>
        <li class="model-item">
          <div class="icon">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" id="svg1447611371_683">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0002 25.8C20.0694 25.8 25.8002 20.0693 25.8002 13C25.8002 5.93077 20.0694 0.200012 13.0002 0.200012C5.93095 0.200012 0.200195 5.93077 0.200195 13C0.200195 20.0693 5.93095 25.8 13.0002 25.8ZM18.9316 10.9314C19.5564 10.3065 19.5564 9.29348 18.9316 8.66864C18.3067 8.0438 17.2937 8.0438 16.6688 8.66864L11.4002 13.9373L9.33156 11.8686C8.70673 11.2438 7.69366 11.2438 7.06882 11.8686C6.44399 12.4935 6.44399 13.5065 7.06882 14.1314L10.2688 17.3314C10.8937 17.9562 11.9067 17.9562 12.5316 17.3314L18.9316 10.9314Z" fill="#02A470"></path>
            </svg>
          </div>
          <h3 class="list-title">Collections</h3>
          <p class="list-text">Optimize recovery rates and reduce delinquency costs with automated communications, and efficient payment processing.</p>
        </li>
        <li class="model-item">
          <div class="icon">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" id="svg1447611371_683">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0002 25.8C20.0694 25.8 25.8002 20.0693 25.8002 13C25.8002 5.93077 20.0694 0.200012 13.0002 0.200012C5.93095 0.200012 0.200195 5.93077 0.200195 13C0.200195 20.0693 5.93095 25.8 13.0002 25.8ZM18.9316 10.9314C19.5564 10.3065 19.5564 9.29348 18.9316 8.66864C18.3067 8.0438 17.2937 8.0438 16.6688 8.66864L11.4002 13.9373L9.33156 11.8686C8.70673 11.2438 7.69366 11.2438 7.06882 11.8686C6.44399 12.4935 6.44399 13.5065 7.06882 14.1314L10.2688 17.3314C10.8937 17.9562 11.9067 17.9562 12.5316 17.3314L18.9316 10.9314Z" fill="#02A470"></path>
            </svg>
          </div>
          <h3 class="list-title">Payments</h3>
          <p class="list-text">Enhance cash flow and reduce operational costs with secure, flexible payment options, automated reconciliation, and fraud prevention.</p>
        </li>
        <li class="model-item">
          <div class="icon">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" id="svg1447611371_683">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0002 25.8C20.0694 25.8 25.8002 20.0693 25.8002 13C25.8002 5.93077 20.0694 0.200012 13.0002 0.200012C5.93095 0.200012 0.200195 5.93077 0.200195 13C0.200195 20.0693 5.93095 25.8 13.0002 25.8ZM18.9316 10.9314C19.5564 10.3065 19.5564 9.29348 18.9316 8.66864C18.3067 8.0438 17.2937 8.0438 16.6688 8.66864L11.4002 13.9373L9.33156 11.8686C8.70673 11.2438 7.69366 11.2438 7.06882 11.8686C6.44399 12.4935 6.44399 13.5065 7.06882 14.1314L10.2688 17.3314C10.8937 17.9562 11.9067 17.9562 12.5316 17.3314L18.9316 10.9314Z" fill="#02A470"></path>
            </svg>
          </div>
          <h3 class="list-title">APIs</h3>
          <p class="list-text">Harness a robust API ecosystem to transform lending with real-time data, streamlined workflows, and advanced risk management—integrated with trusted platforms at your fingertips.</p>
        </li>
      </ul>
    </section>
    <section class="benefits">
      <h2>Key Benefits</h2>
      <ul class="benefit-list">
        <div class="upper">
          <li class="benefit-item">
            <Image class="icon" src={alwaysInno} alt="icon" />
            <p class="benefit-text">Always Innovating, Always Upgrading.</p>
          </li>
          <li class="benefit-item">
            <Image class="icon" src={improve} alt="icon" />
            <p class="benefit-text">Improved operational efficiency</p>
          </li>
          <li class="benefit-item">
            <Image class="icon" src={enhance} alt="icon" />
            <p class="benefit-text">Enhanced risk management</p>
          </li>
        </div>
        <div class="below">
          <li class="benefit-item">
            <Image class="icon" src={customer} alt="icon" />
            <p class="benefit-text">Increased customer satisfaction</p>
          </li>
          <li class="benefit-item">
            <Image class="icon" src={scalable} alt="icon" />
            <p class="benefit-text">Scalable to support growth</p>
          </li>
        </div>
      </ul>
    </section>
  </main>
</Layout>
<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // Function to create animations with ScrollTrigger
  function createAnimation(target, fromVars, toVars) {
    gsap.set(target, fromVars);
    const anim = gsap.to(target, { ...toVars, paused: true });

    ScrollTrigger.create({
      trigger: target,
      onEnter: () => anim.play(),
      onEnterBack: () => anim.play(),
      onLeave: () => anim.pause(0),
      onLeaveBack: () => anim.pause(0),
    });
  }

  // Select elements
  const elements = [
    { target: ".model", fromVars: { opacity: 0 }, toVars: { duration: 0.3, opacity: 1 } },
    { target: ".benefits", fromVars: { opacity: 0 }, toVars: { duration: 0.3, opacity: 1 } },
  ];

  // Apply animations
  elements.forEach(({ target, fromVars, toVars }) => {
    const el = document.querySelector(target);
    if (el) {
      createAnimation(el, fromVars, toVars);
    }
  });

</script>

<style>

  .model {
    padding: 80px 140px;
    background-color: rgb(246,248,249);
  }

  .model h2 {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: -1.5px;
    text-align: center;
  }

  .model > p {
    margin-bottom: 40px;
  }

  .model-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
  }

  .model-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px 1fr;
    gap: 12px 16px;
  }

  .model-item .icon {
    grid-row: 1 / span 2;
  }

  .model-item .list-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0px;
  }

  .model-item .list-text {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0px;
  }

  .upper, .below {
    display: flex;
  }

  .benefits {
    padding: 80px 140px;
  }

  .benefits h2 {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.5px;
    text-align: center;
  }

  .benefit-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .upper, .below {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .benefit-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .benefit-item p {
    font-weight: 500;
    text-align: center;
  }

  @media screen and (width < 1440px) {
    .model {
      padding-inline: 40px;
    }

    .model-list {
      grid-template-columns: 1fr;
    }

    .benefits {
      padding-inline: 40px;
    }
  }

  @media screen and (width < 1024px) {

    .benefits {
      padding: 20px;
    }

    .benefits h2 {
      font-size: 32px;
    }

    .upper, .below {
      flex-direction: column;
    }
  }
</style>