---
import '@fontsource/manrope';
import '@fontsource/inter';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  description: string;
  url?: string;
  image?: string;
}

const { title, description, url = "", image ="" } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	
		<!-- Open Graph (for Facebook, LinkedIn, etc.) -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={url} />
		<meta property="og:image" content={image} />
		<meta property="og:type" content="website" />
	
		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>